html {
    background-color: black;
  }
  h1 {
   color: pink; 
   text-align: center;
   height: 500px;
  }
  .navbar {
    color: white;
  }
  
  .contacto {
    color: white;
  }
  .project-tile {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
  }
  